# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Compiled files
checkpoint_0
checkpoint_0_360
checkpoint_0_3600
checkpoint_0_18000
checkpoint_1
checkpoint_1_360
checkpoint_1_3600
checkpoint_1_18000
checkpoint_2
checkpoint_2_360
checkpoint_2_3600
checkpoint_2_18000

